.form__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex: 0 1 auto; 
    padding: 10px 0px;
    border-bottom: 1px #ddd solid;
    margin: 0px;
}

.form__paragraph {
    display: inline-block;
    width: 100%;
    padding: 20px 0px;
    border-bottom: 1px #ddd solid;
    margin: 0px;
}

.form__paragraph--last {
    border: none;
}

.form__field {
    margin: 10px;
    min-width: 150px;
    text-align: center;
    background-color: #12152e;
    border: none;
    color: #ddd;
    padding: 4px;
}

.form__button {
    width: 100%;
    padding: 5px;
    border: none;
    background-color: #12152e;
    color: #ddd;
    padding: 8px;
}

.form__button:hover {
    background-color: #151a47;
}

.form__field:hover {
    background-color: #151a47;
}

.form__button:active {
    background-color: #122357;
}