html {
    box-sizing: border-box;
    display: table;
    margin: auto;
    background: url("https://stsci-opo.org/STScI-01GGWD2F59V4TBRREMM03RZTYB.png") no-repeat top center fixed #0a0b16;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    font-family: Lato, sans-serif;
    color: #ddd;
    padding: 10px 
}

.body__header {
    display: inline-block;
    width: 100%;
    padding: 6px;
    background-color: #ddd;
    color: #0a0b16;
    font-family: Merriweather, serif;
    text-align: center;
    border-radius: 10px;
}

.main {
    max-width: 800px;
    min-width: 280px;
    padding: 10px 20px;
    background-color: #0a0b16;
    border: 2px #ddd solid;
    border-radius: 10px;
}