.result__paragraph {
    display: inline-block;
    width: 100%;
    padding: 20px 0px;
    border-bottom: 1px #ddd solid;
    margin: 0px;
    border: none;
    text-align: center;
    font-size: 20px;
}